@model I18NDotNet.Demo.Controllers.AddressModel

<div class="row">
	<div class="input-field col s12">
		@Html.TextBoxFor(x => x.Name)
		@Html.LabelFor(x => x.Name)
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		@Html.TextBoxFor(x => x.Organisation)
		@Html.LabelFor(x => x.Organisation)
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		@Html.TextBoxFor(x => x.AddressLine[0])
		@Html.LabelFor(x => x.AddressLine[0])
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		@Html.TextBoxFor(x => x.AdministrativeArea)
		@Html.LabelFor(x => x.AdministrativeArea)
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		@Html.TextBoxFor(x => x.PostalCode)
		@Html.LabelFor(x => x.PostalCode)
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		@Html.TextBoxFor(x => x.City)
		@Html.LabelFor(x => x.City)
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		@Html.TextBoxFor(x => x.DependentLocality)
		@Html.LabelFor(x => x.DependentLocality)
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		@Html.DropDownListFor(x => x.CountryCode, Model.CountryCandidates)
		@Html.LabelFor(x => x.CountryCode)
	</div>
</div>
<div class="row">
	<div class="input-field col s12">
		@Html.TextBoxFor(x => x.LanguageCode)
		@Html.LabelFor(x => x.LanguageCode)
	</div>
</div>